<div class="detailContainer">
    <h2>User Details</h2>

    <div class="row forms">
        <div class="col-sm-12 col-xs-12">
            <form [formGroup]="form">
                <div class="form-group">
                    <h6 class="control-label">Name</h6>
                    <input type="text"  class="form-control" formControlName="name" />
                </div>
    
                <div class="form-group">
                    <h6 class="control-label">User Name</h6>
                    <input type="text"  class="form-control" formControlName="username" />
                </div>
    
                <div class="form-group">
                    <h6 class="control-label">Street</h6>
                    <input type="text"  class="form-control" formControlName="street" />
                </div>
    
                <div class="form-group">
                    <h6 class="control-label">City</h6>
                    <input type="text"  class="form-control" formControlName="city" />
                </div>    
            </form>
        </div>
    </div>
        
</div>
